<style>
    table {
        border-spacing: 2px;
        border-collapse: inherit;
    }
    tr {
        background-color: white;
    }
    th{
        background-color: #D8D8D8;
        text-align: center;
    }
    td {
        background-color: #CEE3F6;
        text-align: center;
    }
    .bgOdd {
        background-color: #F7F2E0;
    }
</style>

<div class="container">
	
	<h2><a href="/admin">Administración</a> de productos </h2>

	<form class="form" action="/uploadProducts" method="POST" enctype="multipart/form-data">
        <h4 class="form-heading">Sube fichero de productos</h4>
        <input type="file" id="fileProducts" name="fileProducts" class="form-control" required="true" autofocus="">
        <br/>
        <button class="btn btn-lg btn-primary" type="submit">Subir</button>
    </form>
    
    <hr width="100%" />

    <form class="form" action="/product" method="POST">
        <h4 class="form-heading">Nuevo producto</h4>
        
        <label for="name" class="sr-only">Nombre</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="nombre" required="true" autofocus="">

        <label for="price" class="sr-only">Precio</label>
        <input type="text" id="price" name="price" placeholder="1.30" class="form-control" required="true" autofocus="">
        <label for="name" class="sr-only">Nombre</label>
        <input type="text" id="desc" name="desc" class="form-control" placeholder="descripcion" autofocus="">
        <br/>
        <button class="btn btn-lg btn-primary" type="submit">Crear</button>

     </form>

    <hr/>

    <table cellspacing="10">
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        <% products.forEach(function(product, index) { %>
            <tr>
                <td class="<%= index%2===0? '' : 'bgOdd' %>"><%= product.name %></td>
                <td class="<%= index%2===0? '' : 'bgOdd' %>"><%= product.price %>€</td>
                <td class="<%= index%2===0? '' : 'bgOdd' %>"> <input type="button" class="btn btn-primary editProduct" value="Editar"> </td>
                <td class="<%= index%2===0? '' : 'bgOdd' %>"> <input type="button" class="btn btn-danger deleteProduct" value="Borrar"> </td>
            </tr>
        <% }); %>
    </table>


</div>

